.root {
  padding-top: 32px;

  .avatar {
    margin: 0 auto;
    background-color: #ff0063e3
  }

  .title {
    text-align: center;
    margin-top: 16px;
  }
  
  .submit {
    width: 100%;
    margin-top: 16px;
  }
}
